<!DOCTYPE html>
<html>
<head>
  <title>Baseapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header' %>

<div class='container'>
  <% if notice %>
    <div class="alert alert-dismissible alert-info"><p><%= notice %></p></div>
  <% end %>

  <% if alert %>
    <div class="alert alert-dismissible alert-danger"><p><%= alert %></p></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
